/*--------------------------------------------------------------
CSS for Header
--------------------------------------------------------------*/
header {
  width: 100%;
  position: sticky;
  z-index: 999;
  transition: 1s;
  top: 0;
}
/* Main navigation */
nav {
  width: 100%;
  background-color: var(--nav-background);
  font-size: 2em;
  padding: 10px;
}
nav ul {
  list-style-type: none;
}
nav ul,
nav li {
  margin-bottom: 20px;
}
.nav-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* Header title */
.main-title a {
  text-decoration: none;
  font-family: var(--header-font);
  text-transform: uppercase;
  text-shadow: var(--main-text-shadow);
  letter-spacing: 0.1em;
  color: var(--main-text);
}
/* Navigation hamburger and x icons */
.icon-mobile {
  display: block;
}
.icon-tablet,
.icon-desk {
  display: none;
}
.icon-mobile,
.icon-tablet,
.icon-desk {
  cursor: pointer;
}
.icon-mobile:hover,
.icon-tablet:hover,
.icon-desk:hover {
  color: var(--black);
  transition: 0.5s ease;
}
.nav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
}
.nav-overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.nav-overlay a:hover,
.nav-overlay a:focus {
  color: #f1f1f1;
}
.nav-overlay .nav-closebtn,
.nav-overlay .nav-closebtn-desk {
  position: absolute;
  top: 2%;
  right: 5%;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .nav-overlay .nav-closebtn,
  .nav-overlay .nav-closebtn-desk {
    right: 10%;
  }
  .icon-mobile {
    display: none;
  }
  .icon-tablet {
    display: block;
  }
  .icon-desk {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .nav-overlay .nav-closebtn,
  .nav-overlay .nav-closebtn-desk {
    right: 20%;
  }
  .icon-mobile {
    display: none;
  }
  .icon-tablet {
    display: none;
  }
  .icon-desk {
    display: block;
  }
}
/* Go back button */
.nav-back {
  width: 100%;
  background-color: var(--nav);
  padding: 5px 0;
}
#back-button {
  background: none;
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
  letter-spacing: 0.1em;
  cursor: pointer;
  padding: 5px 0;
  font-size: 1rem;
}
#back-button:hover {
  color: var(--main-red);
  padding: none;
}
@media screen and (min-width: 1100px) {
  .nav-back {
    background-color: none;
  }
}
