/*--------------------------------------------------------------
CSS for Header
--------------------------------------------------------------*/

nav {
  width: 100%;
  background-color: var(--nav-background);
  position: sticky;
  z-index: 1;
  transition: 1s;
  font-size: 2em;
  top: 0;
  padding: 10px;
}

nav ul {
  list-style-type: none;
}
nav ul,
nav li {
  margin-bottom: 20px;
}
.nav-container {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.main-title {
  font-family: var(--header-font);
  text-transform: uppercase;
  text-shadow: var(--main-text-shadow);
  font-weight: 500;
  letter-spacing: 0.1em;
}
.main-title a {
  text-decoration: none;
}

.icon-mobile {
  display: block;
}
.icon-tablet {
  display: none;
}
.icon-desk {
  display: none;
}
.icon-mobile,
.icon-tablet,
.icon-desk {
  cursor: pointer;
}
.icon-mobile:hover,
.icon-tablet:hover,
.icon-desk:hover {
  color: var(--black);
  transition: 0.5s ease;
}
.nav-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
}
.nav-overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.nav-overlay a:hover,
.nav-overlay a:focus {
  color: #f1f1f1;
}
.nav-overlay .nav-closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.nav-overlay .nav-closebtn-desk {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (min-width: 768px) {
  .icon-mobile {
    display: none;
  }
  .icon-tablet {
    display: block;
  }
  .icon-desk {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .icon-mobile {
    display: none;
  }
  .icon-tablet {
    display: none;
  }
  .icon-desk {
    display: block;
  }
}
