/*--------------------------------------------------------------
CSS for Post and Pages 
--------------------------------------------------------------*/
/* Universal codes */
.content-container {
  width: 90%;
  margin: 20px auto;
}

@media screen and (min-width: 768px) {
  .content-container {
    width: 80%;
  }
}
@media screen and (min-width: 1100px) {
  .content-container {
    width: 65%;
  }
}

/* ABOUT PAGE */
/* Floating Moon */
@keyframes floating-moon {
  50% {
    transform: rotate(8deg) translateX(15px) translateY(-90px);
  }
}
.floating-moon {
  height: 300px;
  float: left;
  left: 25%;
  position: relative;
  z-index: 1;
  animation: floating-moon 50s cubic-bezier(0.21, 0.12, 0.12, 0.21) infinite;
}

/* Responsive */
@media screen and (min-width: 1100px) {
  .moon-container {
    /* Is Moon going to be fixed or not, need to ask. */
    /* position: fixed; */
    bottom: 50%;
    height: 250px;
  }
  .floating-moon {
    left: 0%;
    height: 250px;
  }
}

/*
COURSES PAGE
*/

/* Course choices */
.courses-section-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.courses-row {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  position: relative;
}

.course {
  display: flex;
  height: 35rem;
  margin: 10px;
  border: 1px var(--border) solid;
  text-align: center;
  background: var(--black);
  overflow: hidden;
}

.title-bar img {
  object-fit: cover;
  width: 40rem;
  filter: brightness(0.5);
}

.title-bar {
  position: relative;
  width: 100%;
  background-color: #6d1824;
  height: 4rem;
  text-align: center;
  top: 2rem;
}

/* Floating Astronaut */
.astronaut-div {
  height: 5rem;
}

@keyframes astronaut-floating {
  50% {
    transform: rotate(3deg) translateX(25px) translateY(-20px);
  }
}

.floating-astronaut {
  height: 175px;
  float: right;
  position: relative;
  z-index: 1;
  animation: astronaut-floating 20s cubic-bezier(0.46, 0.03, 0.52, 0.96)
    infinite;
}

/* Course */

/* Responsiveness */

@media screen and (min-width: 900px) {
  .courses-row {
    flex-direction: row;
  }
  .course {
    flex: 0%;
  }
  .floating-astronaut {
    height: 230px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .courses-row {
    padding: 0px 250px;
  }
  .floating-astronaut {
    height: 275px;
    padding-right: 125px;
    padding-bottom: 0px;
  }
}
