/*--------------------------------------------------------------
CSS for Post and Pages 
--------------------------------------------------------------*/
/* Universal codes */
.content-container {
  width: 90%;
  margin: 20px auto;
}

@media screen and (min-width: 768px) {
  .content-container {
    width: 80%;
  }
}
@media screen and (min-width: 1100px) {
  .content-container {
    width: 65%;
  }
}

/* ABOUT PAGE */
/* Floating Moon */
@keyframes floating-moon {
  50% {
    transform: rotate(8deg) translateX(15px) translateY(-90px);
  }
}
.floating-moon {
  height: 300px;
  float: left;
  left: 25%;
  position: relative;
  z-index: 1;
  animation: floating-moon 50s cubic-bezier(0.21, 0.12, 0.12, 0.21) infinite;
}

/* Responsive */
@media screen and (min-width: 1100px) {
  .moon-container {
    /* Is Moon going to be fixed or not, need to ask. */
    /* position: fixed; */
    bottom: 50%;
    height: 250px;
  }
  .floating-moon {
    left: 0%;
    height: 250px;
  }
}

/*
COURSES PAGE
*/

/* Course choices */
.courses-section-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.courses-row {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  position: relative;
  justify-content: space-evenly;
}

.course-container {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 30rem;
  margin: 10px;
  border: 1px var(--border) solid;
  text-align: center;
}

.course-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.course-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--pic-overlay);
}

.course-name {
  position: relative;
  width: 100%;
  top: 40px;
  padding: 20px 0px;
  background-color: var(--main-red);
}

.course-name:hover {
  padding: 30px 0px;
  font-size: 1.5rem;
  top: 30px;
  transition-duration: 250ms;
}

/* Floating Astronaut */
.astronaut-div {
  height: 5rem;
}

@keyframes astronaut-floating {
  50% {
    transform: rotate(3deg) translateX(25px) translateY(-20px);
  }
}

.floating-astronaut {
  height: 175px;
  padding-right: 40px;
  float: right;
  position: relative;
  z-index: 1;
  animation: astronaut-floating 20s cubic-bezier(0.46, 0.03, 0.52, 0.96)
    infinite;
}

/* Course */
/* Responsiveness */

@media screen and (min-width: 900px) {
  .courses-row {
    flex-direction: row;
    align-items: center;
  }
  .course {
    flex: 0%;
  }
  .floating-astronaut {
    height: 250px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1500px) {
  .courses-row {
    padding: 0px 250px;
    align-items: center;
  }
  .floating-astronaut {
    height: 275px;
    padding-right: 150px;
    padding-bottom: 0px;
  }
}

/* Archive.php, page.php, index.php, Single.php, search.php
* Extra posts and pages that are needed for wordpress  */

/* Index.php */
.post-section {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}
.post-title {
  margin-bottom: 1em;
}
.post-container {
  margin-bottom: 25px;
}
.post-info-image img {
  width: 100%;
  height: auto;
  box-shadow: var(--main-box-shadow);
}
/* Index.php responsiveness */
@media screen and (min-width: 900px) {
  .post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .post-info-image {
    width: 50%;
  }
  .post-info-text {
    margin-left: 15px;
    width: 60%;
  }
}
@media screen and (min-width: 1100px) {
  .post-section {
    max-width: 60%;
  }
  .post-info-image {
    width: 30%;
  }
}
