/*--------------------------------------------------------------
CSS for Post and Pages 
--------------------------------------------------------------*/

/*
COURSES PAGE
*/
.courses-section-inner {
    width: 250px;
    display: flex;
    flex-direction: column;
  }
  
  .courses-row{
    display: flex;
    flex-direction: column;
  }
  
  .course{
    padding: 20px;
    margin: 50px 10px;
    border: #1e1e1e 2px;
    height: 420px;
  }
  
  @media screen and (min-width: 768px) {
    .courses-row{
      flex-direction: row;
    }
    .course{
      flex: 0%;
    }
  }