/*--------------------------------------------------------------
General CSS 
--------------------------------------------------------------*/

:root {
  /* Main colors */
  --main-red: #6d1824;
  --dark-gray: #1e1e1e;
  --border: #707070;
  --nav-background: rgb(67, 27, 33);

  --main-text: #ffffff;
  --links: #ffffff;

  --main-button: #ffffffc4;
  --hover-button: #fff;

  /* Overlays */
  --background-overlay: rgb(30, 30, 30, 0.5);
  --pic-overlay: rgb(0, 0, 0, 0.5);
  --footer: rgb(0, 0, 0, 0.8);

  /* Shadows */
  --main-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --main-text-shadow: 2px 3px 7px rgba(81, 21, 21, 0.2);

  /* Main fonts */
  --main-font: "Saira Condensed" sans-serif;
  --header-font: ;

  --button-font: "Monaco", monospace;;

  /* main padding */
  --main-padding: 25px;
  --medium-padding: 20px;
}
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styles */
body {
  background-color: var(--main-red);
  color: var(--main-text);
  font-family: var(--main-font);
  font-size: 15px;
}
/* Links */
a {
  text-decoration: none;
  color: var(--);
  transition: 0.5s ease;
}
a:hover {
  color: var(--);
  transition: 0.5s ease;
}
a:visited {
  color: var(--);
}
/* Headers, p */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--main-font);
  text-transform: uppercase;
  text-shadow: var(--main-text-shadow);
  font-weight: 500;
  padding: 5px 0;
}
p {
  margin: 1em 0;
}
blockquote {
  padding: 1.5em;
  margin: 2em;
  border-left: 2px solid var(--main-red);
  color: var(--main-text);
  font-style: italic;
}

/* Buttons */
button {
  background-color: var(--main-button);
  color: var(--dark-gray);
  border: none;
  border-radius: 12px 0px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: var(--button-font);
  font-size: 20px;
  transition-duration: 0.3s;
}

button:hover{
  background-color: var(--hover-button);
  padding: 15px 25px;
  font-size: 25px;
}